#configs/model/rdeic.yaml
target: model.rdeic.RDEIC
params:
  linear_start: 0.00085
  linear_end: 0.0120
  num_timesteps_cond: 1
  log_every_t: 200
  timesteps: 1000
  first_stage_key: "jpg"
  cond_stage_key: "txt"
  image_size: 64
  channels: 4
  cond_stage_trainable: false
  conditioning_key: crossattn
  monitor: val/loss_simple_ema
  scale_factor: 0.18215
  use_ema: False

  # ===== 权重/阶段 =====
  #  sync_path: ~
  sync_path: ./weight/v2-1_512-ema-pruned.ckpt #  path to the StableDiffusion v 2.1 weights
  synch_control: False
  ckpt_path_pre: ~

  sd_locked: True

  #is_refine: 开启第二阶段，fixed_step建议保持5
  is_refine: True
  fixed_step: 5
  used_timesteps: 500

  # Learning rate.权重  bpp_0.003 1 24   bpp_0.005  1 12   bpp_0.008  1 4
  learning_rate: 2e-5
  l_guide_weight: 1  #↑,画质倾向更好，间接也会推高所需的 bpp。↓，间接可能让 bpp 再低一点，但同时画质会更差，或者生成结果偏散。
  l_bpp_weight: 12      #直接压 bpp，基本等于“压缩力度”，调大 l_bpp_weight，训练会更“在乎”把 bpp 压低，调小 l_bpp_weight，调小 l_bpp_weight
  # loss ≈ 重建相关数据 + l_bpp_weight * bpp +  l_bpp_weight * emb_loss + l_guide_weight * latent_guide_loss


  # 3 个无缝相关开关
  vae_blend_enabled: True  # 是否在VAE解码的时候开启融合、第一阶段关闭
  train_blend_net: True   # 不联训则用默认余弦窗，true为开启，false为关、第一阶段关闭
  extend_k_pix: 64  #第一阶段写成0，这是在第二阶段的latent侧拓宽，会对应取等价的latent宽度

  control_stage_config:
    target: model.rdeic.NoiseEstimator
    params:
      use_checkpoint: True
      image_size: 32 # unused
      in_channels: 4
      out_channels: 4
      hint_channels: 256 # This should equal the value of preprocess_config.params.M
      model_channels: 320
      attention_resolutions: [ 4, 2, 1 ]
      num_res_blocks: 2
      channel_mult: [ 1, 2, 4, 4 ]
      num_head_channels: 16 # need to fix for flash-attn
      use_spatial_transformer: True
      use_linear_in_transformer: True
      transformer_depth: 1
      context_dim: 1024
      legacy: False
      control_model_ratio: 0.2
      control_scale: 1.0

  unet_config:
    target: ldm.modules.diffusionmodules.openaimodel.UNetModel
    params:
      use_checkpoint: True
      image_size: 32 # unused
      in_channels: 4
      out_channels: 4
      model_channels: 320
      attention_resolutions: [ 4, 2, 1 ]
      num_res_blocks: 2
      channel_mult: [ 1, 2, 4, 4 ]
      num_head_channels: 64 # need to fix for flash-attn
      use_spatial_transformer: True
      use_linear_in_transformer: True
      transformer_depth: 1
      context_dim: 1024
      legacy: False

  first_stage_config:
    target: ldm.models.autoencoder.AutoencoderKL
    params:
      embed_dim: 4
      monitor: val/rec_loss
      ddconfig:
        #attn_type: "vanilla-xformers"
        double_z: true
        z_channels: 4
        resolution: 256
        in_channels: 3
        out_ch: 3
        ch: 128
        ch_mult:
        - 1
        - 2
        - 4
        - 4
        num_res_blocks: 2
        attn_resolutions: []
        dropout: 0.0
      lossconfig:
        target: torch.nn.Identity

  cond_stage_config:
    target: ldm.modules.encoders.modules.FrozenOpenCLIPEmbedder
    params:
      freeze: True
      layer: "penultimate"

  preprocess_config:
    target: model.compression.Compression
    params:
      in_nc: 512
      out_nc: 4
      N: 256
      M: 256
      slice_num: 10
      slice_ch: [8,8,8,8,16,16,32,32,64,64]
      codebook_size: 16384
  
  calculate_metrics:
    psnr: # metric name, can be arbitrary
      type: psnr
      crop_border: 0
      test_y_channel: false
#
    ms_ssim:
      type: ms_ssim
      test_y_channel: false
      
    lpips:
      type: lpips
      better: lower


  
